---
import { Image } from 'astro:assets'
import { Code } from 'astro:components'

import logo from '../images/logo.png'
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <style>
      body {
        background-image: url(bg.webp);
      }
    </style>
  </head>
  <body class="container mx-auto px-4 py-16 text-indigo-950">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <div>
        <Image alt="" class="mx-auto w-full max-w-96" src={logo} />
        <h1
          class="mt-4 text-center font-handwritten text-9xl font-black drop-shadow"
        >
          2n8
        </h1>
      </div>
      <div>
        <Code
          class="rounded border-2 border-indigo-700 p-8 text-sm shadow-lg"
          code={`// Counter.tsx

import { TwoAndEight } from '2n8'
import { createStore } from '2n8/react'
import type { FC } from 'react'

class Store extends TwoAndEight {
  count = 0

  buttonClicked() {
    this.count = this.count + 1
  }
}

const useStore = createStore(new Store())

const Counter: FC = () => {
  const count = useStore(state => state.count)
  const buttonClicked = useStore(state => state.buttonClicked)
  return (
    <div>
      <span>{count}</span>
      <button onClick={buttonClicked}>one up</button>
    </div>
  )
}`}
          lang="js"
          theme="plastic"
        />
      </div>
    </div>
  </body>
</html>
